# Build output
build/
out/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.ruff_cache/
_deps/

# IDEs
.vscode/
.idea/
.cache/
*.user
*.suo

# Compiled objects
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exp
*.pdb

# OS
.DS_Store
Thumbs.db
